@model ReleaseCand.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumOfGuests)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumOfGuests)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
